@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@300&family=Sixtyfour&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  background-color: var(--primary-color);
}

.menu div {
  padding: 20px 42px;
}

.menu .menu__home a {
    display: inline-block;
    position: relative;
    color: var(--white-color);
    text-decoration: none;
    font-size: 16px;
    font-family: var(--font-text);
}

.menu .menu__home a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-color);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.menu .menu__home a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu .menu__projects a {
    display: inline-block;
    position: relative;
    color: var(--white-color);
    text-decoration: none;
    font-size: 16px;
    font-family: var(--font-text);
}

.menu .menu__projects a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-color);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.menu .menu__projects a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu .menu__about a {
    display: inline-block;
    position: relative;
    color: var(--white-color);
    text-decoration: none;
    font-size: 16px;
    font-family: var(--font-text);
}

.menu .menu__about a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-color);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.menu .menu__about a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}